.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 788px}
.u-section-1 .u-text-1 {margin: 60px auto 0}
.u-section-1 .u-image-1 {width: 549px; height: 526px; margin: 40px auto 0 0}
.u-section-1 .u-list-1 {min-height: 526px; grid-template-columns: calc(((100% - 1140px) / 2) + 560px) calc(((100% - 1140px) / 2) + 560px); grid-template-rows: auto auto; width: 570px; grid-gap: 20px 20px; margin: -526px 0 60px auto}
.u-section-1 .u-list-item-1 {background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 48px; width: 48px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-2 {margin: 20px -30px 0}
.u-section-1 .u-list-item-2 {background-image: none}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 48px; width: 48px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 20px -30px 0}
.u-section-1 .u-list-item-3 {background-image: none}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-3 {height: 48px; width: 48px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-4 {margin: 20px -30px 0}
.u-section-1 .u-list-item-4 {background-image: none}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-icon-4 {height: 48px; width: 48px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-5 {margin: 20px -30px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 675px}
.u-section-1 .u-image-1 {width: 453px; height: 413px}
.u-section-1 .u-list-1 {min-height: 413px; grid-template-columns: calc(((100% - 940px) / 2) + 460px) calc(((100% - 940px) / 2) + 460px); height: auto; width: 467px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1251px}
.u-section-1 .u-image-1 {height: 558px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-list-1 {min-height: 401px; grid-template-columns: calc(((100% - 720px) / 2) + 350px) calc(((100% - 720px) / 2) + 350px); margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; margin-top: -517px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 632px}
.u-section-1 .u-image-1 {height: 310px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {margin-top: -326px; width: auto; margin-right: initial; margin-left: initial} }.u-section-2 .u-sheet-1 {min-height: 640px}
.u-section-2 .u-layout-wrap-1 {margin: 70px auto 70px 0}
.u-section-2 .u-layout-cell-1 {min-height: 500px}
.u-section-2 .u-container-layout-1 {padding-top: 20px; padding-bottom: 20px}
.u-section-2 .u-text-1 {font-weight: 700; letter-spacing: 5px; animation-duration: 1000ms; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); text-transform: uppercase; margin: 55px 0 0}
.u-section-2 .u-text-2 {font-weight: 700; margin: 44px 102px 0 21px}
.u-section-2 .u-text-3 {font-weight: 700; margin: 13px -21px 0 21px}
.u-section-2 .u-text-4 {font-weight: 700; margin: 44px -21px 0 21px}
.u-section-2 .u-text-5 {font-weight: 700; margin: 13px 142px 0 21px}
.u-section-2 .u-text-6 {font-weight: 700; margin: 44px -1px 0 21px}
.u-section-2 .u-text-7 {font-weight: 700; margin: 13px -1px 0 21px}
.u-section-2 .u-layout-cell-2 {min-height: 500px}
.u-section-2 .u-container-layout-2 {padding: 20px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 400px}
.u-section-2 .u-layout-cell-1 {min-height: auto}
.u-section-2 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 529px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 594px}
.u-section-3 .u-container-layout-1 {padding: 30px 15px 30px 60px}
.u-section-3 .u-text-1 {font-weight: 700; letter-spacing: 5px; animation-duration: 1000ms; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); text-transform: uppercase; margin: 0 55px 0 -55px}
.u-section-3 .u-text-2 {font-weight: 700; margin: 20px 30px 0 -30px}
.u-section-3 .u-image-1 {min-height: 594px; background-image: url("images/About.jpeg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-3 {font-weight: 700; margin: 30px 0 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 436px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 490px}
.u-section-3 .u-image-1 {min-height: 490px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 334px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px}
.u-section-3 .u-image-1 {min-height: 375px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 251px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {min-height: 844px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 158px}
.u-section-3 .u-image-1 {min-height: 531px} }