.u-section-1 .u-sheet-1 {min-height: 223px}
.u-section-1 .u-text-1 {text-transform: uppercase; letter-spacing: 5px; font-weight: 700; width: 655px; margin: 40px auto 0}
.u-section-1 .u-form-1 {height: 78px; margin: 26px 0 40px}
.u-section-1 .u-form-group-3 {margin-left: 0} 

@media (max-width: 1199px){ .u-section-1 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-form-group-4 {width: 100%} }