.u-section-1 .u-sheet-1 {min-height: 177px}
.u-section-1 .u-text-1 {font-weight: 900; margin: 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-2 .u-sheet-1 {min-height: 464px}
.u-section-2 .u-table-1 {margin: 42px auto 42px 0}
.u-section-2 .u-table-entity-1 {min-height: 100px; height: 325px}
.u-section-2 .u-table-header-1 {font-weight: 700; background-image: none}
.u-section-2 .u-table-cell-1 {background-image: none}
.u-section-2 .u-table-cell-2 {background-image: none}
.u-section-2 .u-table-cell-4 {background-image: none}
.u-section-2 .u-table-cell-5 {background-image: none}
.u-section-2 .u-table-cell-6 {background-image: none}
.u-section-2 .u-table-cell-7 {background-image: none}
.u-section-2 .u-table-cell-8 {background-image: none}
.u-section-2 .u-table-cell-9 {background-image: none}
.u-section-2 .u-table-cell-10 {background-image: none}
.u-section-2 .u-table-cell-11 {background-image: none}
.u-section-2 .u-table-cell-12 {background-image: none}
.u-section-2 .u-table-cell-13 {background-image: none}
.u-section-2 .u-table-cell-14 {background-image: none}
.u-section-2 .u-table-cell-15 {background-image: none}
.u-block-37f1-35 {background-image: none} 

@media (max-width: 1199px){ .u-section-2 .u-table-1 {margin-right: initial; margin-left: initial} }